.about-header {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../../assets/images/doctors2.jpg);
  height: 350px;
  background-position: center;
  background-size: cover;
}
